::ng-deep:root {

  /* Defined header grid */

  --header__cols: 1fr;
  --header__areas: "logo" 
                   "menu";

  @media screen and (min-width: 767px) {
    --header__cols: auto 1fr;
    --header__areas: "logo menu";
  }
  
}